* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 16px;
}

header {
    background-color: #FF6900;
}

footer {
    background-color: #1A1A1A;
    margin-top: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

/* HEADER */

.container_header{
    justify-content: space-between;
    align-items: center; 
    padding: 10px;   
}

li {
    color: white;
    align-self: center;
    margin-left: -9px;
    padding-right: 18px;
}

ul {
    display: flex;
    justify-content: center;
}

.logo_header {
    width: 25px;
    height: 25px;
}

.icon_header {
    width: 11px;
    height: 11px;
}

/* MAIN */

.card:nth-child(3n+2) {
    margin: 0 10px;
}

.container_card {
    width: 100%;
    margin-top: 40px;
}

.card {
    width: calc(calc(100% -20px)/3);
    position: relative;
}

.card .image_hover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.card:hover .image_hover{
    display: block;
}

.sconto {
    padding: 0 13px;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 105px;
    left: 0px;
}

.categoria {
    padding: 0 13px;
    height: 25px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 105px;
    left: 65px;
}

.categoria_singola {
    padding: 0 13px;
    height: 25px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 105px;
    left: 0px;
}

.cuore {
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: 7px;
    right: 0px;
}

.prezzo {
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.prezzo_sbarrato {
    font-size: 12px;
    text-decoration: line-through;
}

.card:hover img.no_hover {
    z-index: 0;
}

.card:hover img.hover {
    z-index: 1;
}

/* FOOTER */
.container_footer {
    justify-content: space-between;
    align-content: center;
}

footer h6 {
    color: white;
    padding-top: 30px;
    padding-bottom: 5px;
}

footer h5 {
    color: white;
    padding-bottom: 3px;
}

.icone_social {
    align-self: center;
}

footer span {
    display: inline-block;
    color: white;
    font-size: 10px;
    padding-bottom: 30px;
}

.img_social_footer {
    width: 15px;
    height: 15px;
    display: inline-block;
}