* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 16px;
}

header {
    background-color: #FF6900;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

.container_header{
    justify-content: space-between;
    align-items: center; 
    padding: 10px;   
}

li {
    color: white;
    align-self: center;
    padding: 0 10px;
}

ul {
    display: flex;
    justify-content: center;
}

.logo_header {
    width: 25px;
    height: 25px;
}

.icon_header {
    width: 11px;
    height: 11px;
}

/* MAIN */

.raw {
    border: 1px solid black;
    height: 500px;
    margin-top: 40px;
}

.container_card {
    width: 100%;
    margin-top: 40px;
}

.card {
    width: calc(100% / 3);
    position: relative;
}

.descrizione_card {
    background-color: yellow;
    width: calc(100% / 3);
    height: 40px;
}

.sconto {
    padding: 0 13px;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 105px;
    left: 0px;

}

.categoria {
    padding: 0 13px;
    height: 25px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 105px;
    left: 65px;
}

.cuore {
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: 7px;
    right: 0px;
}

.prezzo {
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.prezzo_sbarrato {
    font-size: 12px;
    text-decoration: line-through;
}